<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_joined %>
    <%= form.datetime_select :date_joined %>
  </div>
  
  <div class="field">
    <%= form.label :inscription_number %>
    <%= form.text_field :inscription_number, value: '' %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.select :level_id, Level.all.collect {|c| [c.name, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :school_name %>
    <%= form.text_field :school_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <%= form.fields_for :profile do |profile| %>
  <h4>Profile</h4>
      <div class="field">
        <%= profile.label :first_name %>
        <%= profile.text_field :first_name %>
      </div>
      <div class="field">
        <%= profile.label :last_name %>
        <%= profile.text_field :last_name %>
      </div>
      <div class="field">
        <%= profile.label :dob %>
        <%= profile.date_field :dob %>
      </div>

      <%= profile.fields_for :address do |address| %>
        <fieldset>
          <legend>Addresse:</legend>
          <div class="field">
            <%= address.label :street1 %>
            <%= address.text_field :street1 %>
          </div>
          <div class="field">
            <%= address.label :street2 %>
            <%= address.text_field :street2 %>
          </div>
          <div class="field">
            <%= address.label :zip_code %>
            <%= address.text_field :zip_code %>
          </div>
          <div class="field">
            <%= address.label :city %>
            <%= address.text_field :city %>
          </div>
        </fieldset>
      <% end %>

  
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
