<div class="row">

<div class="col-md-8 offset-md-2">

  <%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date_joined %>
    <%= form.date_field :date_joined , {class: "form-control"} %>
  </div>
  
  <div class="form-group">
    <%= form.label :inscription_number %>
    <%= form.text_field :inscription_number, value: '' , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.select :level_id, Level.all.collect {|c| [c.name, c.id]} , {},
        {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :school_name  %>
    <%= form.text_field :school_name , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone  %>
    <%= form.text_field :phone , class: "form-control" %>
  </div>

  <%= form.fields_for :profile do |profile|  %>
  <h4>Profile</h4>
      <div class="form-group">
        <%= profile.label :first_name%>
        <%= profile.text_field :first_name , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= profile.label :last_name %>
        <%= profile.text_field :last_name , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= profile.label :dob %>
        <%= profile.date_field :dob , class: "form-control" %>
      </div>

      <%= profile.fields_for :address do |address| %>
        <fieldset>
          <legend>Addresse:</legend>
          <div class="form-group">
            <%= address.label :street1  %>
            <%= address.text_field :street1 , class: "form-control" %>
          </div>
          <div class="form-group">
            <%= address.label :street2  %>
            <%= address.text_field :street2 , class: "form-control" %>
          </div>
          <div class="form-group">
            <%= address.label :zip_code %>
            <%= address.text_field :zip_code , class: "form-control" %>
          </div>
          <div class="form-group">
            <%= address.label :city %>
            <%= address.text_field :city , class: "form-control" %>
          </div>
        </fieldset>
      <% end %>

  
  <% end %>

  <div class="actions">
    <input type="submit" class="btn btn-block btn-primary">
  </div>
<% end %>


</div>

</div>