<p id="notice"><%= notice %></p>

<p>
  <strong>Date joined:</strong>
  <%= @student.date_joined %>
</p>

<p>
  <strong>School name:</strong>
  <%= @student.school_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @student.profile_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
