<div class="row">

    <div class="col mt-3">
        <h4>Ajouter des matier pour <b><%= "#{@student.fullname.upcase}" %></b></h4>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <h6>Tous les matières</h6>

                <div class="list-group">
                    <% @subjects.each do |single| %>
                        <a  href="#" 
                            data-reflex="click->PathSubjectsReflex#add_subject"
                            data-subjectid="<%= single.id %>"
                            data-studentid="<%= @student.id %>"
                            class="list-group-item list-group-item-action">
                                <%= single.name %> - <%= single.level.name %>
                        </a>
                    <% end %>
                </div>

            </div>
            <div class="col-md-6">
                <h6>Les matières de <b><%= "#{@student.fullname.upcase}" %></b></h6>

                <div class="list-group">
                    <% @student.subjects.each do |single| %>
                        <a href="#" 
                            class="list-group-item list-group-item-action"
                            data-reflex="click->PathSubjectsReflex#delete_subject"
                            data-subjectid="<%= single.id %>"
                            data-studentid="<%= @student.id %>">
                                <%= single.name %> - <%= single.level.name %>
                        </a>
                    <% end %>
                </div>

            </div>
        </div>

    </div>

</div>